/* Simple dashboard grid CSS */

/* Assign grid instructions to our parent grid container */
.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
    height: 100vh;
}

/* Give every child element its grid name */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    grid-area: header;
    background-color: #648ca6;
}

.sidenav {
    display: flex; /* Will be hidden on mobile */
    flex-direction: column;
    grid-area: sidenav;
    background-color: #394263;
}
.container{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.weight-form{
    height: 210px;
    width: 570px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(0, 0, 50, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}


